// Register Style
.box-register { box-shadow: 1px 1px 3px rgba(0,0,0,.6); padding: 20px; margin-top: 30px;
	h1 { font-size: 1.8em;} 
	h2 { font-size: 1.2em;}
}

.login-page { background: url('../img/bg.png') repeat #f5f5f5;}
.login-box { box-shadow: 2px 2px 6px rgba(0, 0, 0, .4); width: 500px; display: table; margin: 100px auto 0; padding: 1em; background: #fff;
	&:before, &:after { content: ""; display: table; clear: both;}
}
#login-form { border-left: solid 1px #ddd; padding: 1em;}

.top-bar {
	z-index: 1;
	
}

// All about side menu
.main-logo {
	margin: 20px auto;
	display: table;
}

.side-menu {
	.menu-back { position: fixed; width: $sidemenu-width; height: 100%; top: 0; left: 0; background: $sidemenu-bg; z-index: 0;}
	nav {
		width: $sidemenu-width;
		height: 100%;
		float: left;
		position: relative;
		z-index: 1;
		// background: $sidemenu-bg;
		ul { list-style: none; margin-left: 0;}
		.actived a, a:hover { background: $sidemenu-menu-bg; color: $sidemenu-menu-hover-color;}
		a { display: block; color: $sidemenu-menu-color; padding: 5px 10px;}
	}
}

.container { margin-left: -200px; width: 100%; float: left; padding-left: 220px; padding-right: 20px;}

.post-list { width: 100%;}


