// Colors
$nero: #2D2D2D;
$grey-chateau: #9ca1a6;
$white: #fff;
$deep-sky-blue: #19B3F0;

// Topbar
$topbar-bg-color: $nero;
$topbar-bg: $nero;

// Sidemenu
$sidemenu-bg: $nero;
$sidemenu-width: 200px;
$sidemenu-menu-color: $grey-chateau;
$sidemenu-menu-hover-color: $white;
$sidemenu-menu-bg: $deep-sky-blue;