<div class="container" get-product>
	<h3>Edit Product</h3>

	<form ng-submit="saveProduct()" id="save-product">
		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="">Title
					<input type="text" name="title" placeholder="Title" ng-model="product.title" />
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="">Content
					<textarea cols="30" rows="10" name="content" placeholder="Content here..." ng-model="product.content"></textarea>
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="">SKU
					<input type="text" name="sku" placeholder="SKU" ng-model="metas.sku" />
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="">Regular Price
					<input type="number" name="reg_price" placeholder="Regular Price" ng-model="metas.reg_price" integer />
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="">Sale Price
					<input type="number" name="sale_price" placeholder="Sale Price" />
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="">Manage Stock
					<input type="checkbox" name="manage_stock" />
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="">Stock Status
					<select name="stock_status">
						<option value="1">In Stock</option>
						<option value="0">Out of Stock</option>
					</select>
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="">Stock Qty
					<input type="number" name="stock_qty" placeholder="0" />
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="">Weight (Kg)
					<input type="number" name="weight" placeholder="0" />
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="">Dimension (Cm)
					<input type="number" name="dimension" placeholder="0" />
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<button class="button small" type="submit">Save</button>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->
	</form>
</div>
