	<div class="container" all-products>
		<h2>All Products</h2>
		<a href="#/add-product" class="button small">Add New Product</a>

		<table class="post-list">
			<thead>
				<tr>
					<th>Title</th>
					<th>SKU</th>
					<th>Stock</th>
					<th>Price</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in products" ng-class="{ hide: checkDeleted(product.info.id) }">
					<td><span>{{ product.info.title }}</span><br />
						<a href="#/edit-product/{{ product.info.id }}">edit</a>
						<a ng-click="deleteProduct(product.info.id)">delete</a>
					</td>
					<td>{{ product.metas.sku }}</td>
					<td>{{ product.metas.stock_qty }}</td>
					<td>{{ product.metas.reg_price }}</td>
					<td>date</td>
				</tr>
			</tbody>
		</table>
	</div>
