<div class="container">
	<h2>Profile</h2>

	<form ng-submit="saveProfile()" id="save-profile">
		<input type="hidden" name="user_id" ng-model="user.id" />
		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="email">Email
					<input type="email" name="email" placeholder="Email" ng-model="user.email" required />
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

		<div class="input-wrapper">
			<div class="medium-8 columns">
				<label for="name">Name
					<input type="text" name="name" placeholder="Name" ng-model="user.name" required />
				</label>
			</div><!-- .columns -->
		</div><!-- .input-wrapper -->

	</form>
</div>